<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="cardsofwords.cardsofwords" android:versionCode="2" android:versionName="1.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="Cards of words" android:icon="@drawable/icon">
    
    <!--<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />-->

  </application>
</manifest>